<p><span style="color: #e03e2d; font-size: 24pt;"><strong>PRESENTAZIONE DI HOUDINI</strong></span></p>
<p>Sul sito GitLab su cui state navigando sono presenti</p>
<ul>
<li>La norma tradotta con a fronte il formato machine-readable;</li>
<li>Il testo della traduzione in formato analogo a quello del sistema Houdini;</li>
<li>La norma in originale (proposta di legge 100/2018)</li>
</ul>
<p>Viceversa Houdini online &egrave; accessibile da</p>
<p><a href="http://www.houdini-ddl.it:8081/">http://www.houdini-ddl.it:8081/</a>&nbsp;</p>
<p>Infine, la presentazione in formato video di Houdini &egrave; disponibile</p>
<p><a href="https://univr-my.sharepoint.com/:v:/g/personal/matteo_cristani_univr_it/ETeHuK03i7tBuCyIsSMrnsEBijCexcgvwlCVbpmsknfiCg">https://univr-my.sharepoint.com/:v:/g/personal/matteo_cristani_univr_it/ETeHuK03i7tBuCyIsSMrnsEBijCexcgvwlCVbpmsknfiCg
</a>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>